@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    'header'
    'nav'
    'content'
    'footer';
  min-height: 100vh;
  /* background-color: rgba(46, 49, 49, 0.4); */
   background-color: rgba(1, 4, 37, 0.4); 
  text-align: center;
  color:rgb(5, 54, 77);
}

.Text-link {
  text-decoration: none;
  color: inherit;
}
.Text-link:hover {
  color:rgb(62, 124, 240);
}

/* ------------------- Header.jsx ------------------------------- */

.Header { 
  background-color: rgb(3, 10, 46);
  margin:0px;
  padding:3px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  color:rgb(174, 187, 226);

}

/* ------------------- Nav.jsx ------------------------------- */

.Navbar{
  background-color: rgb(81, 103, 168);
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  padding:7px;
  color:rgb(18, 12, 51);
  margin-bottom:0;
  text-decoration: none;

}
.Nav-span {
  margin:10px;
}


@media only screen and (min-width: 600px) {
  
  .Navbar-link {
    margin:10px;
    padding:10px 10px;
  }
  
}


